/* Format:
    // 1 - Handles the container
    // 2 - Container handling the items
    // 3 - Appearance of selected element
    // 4 - Other
*/
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
* html, * body {
  overflow: hidden;
}
* body, * body[class=to_blue] {
  position: relative;
  width: auto;
  height: auto;
  font-family: "Roboto", sans-serif;
  transition: 1s;
}
* body {
  background-color: #f4c2c2;
}
* body[class=to_blue] {
  background-color: #89cff0;
}

nav, main {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  width: 100%;
  height: 100vh;
}
nav i, main i {
  margin: auto;
}
nav section, main section {
  width: 100%;
  margin: 10% 0;
  border-radius: 10px;
  overflow: hidden;
}

nav {
  left: 0;
  transition: 1s;
}
nav section {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f4f4f4;
}
nav section article {
  margin: 2em;
}
nav section article h1 {
  font-size: 2rem;
}
nav section article hr {
  margin: 1em 0;
}
nav section article #about-div {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
nav section article #about-div #info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
nav section article #about-div #info p {
  margin: 2em;
  font-size: 1.5rem;
}
nav section article #about-div #menu {
  background-color: rgba(17, 17, 17, 0.836);
  border-radius: 10px;
  padding: 2em;
}
nav section article #about-div #menu ul {
  background: rgba(51, 51, 51, 0.534);
  list-style: none;
  border-radius: 10px;
  overflow: hidden;
}
nav section article #about-div #menu ul li {
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  transition: 0.5s;
}
nav section article #about-div #menu ul li:hover {
  background-color: #f4f4f4;
  color: #111;
}
nav section footer {
  margin-top: auto;
  padding: 1em;
  background-color: #111;
}
nav section footer h6, nav section footer p {
  display: inline;
}
nav section footer h6 {
  font-size: 1rem;
}
nav section footer p {
  color: steelblue;
  cursor: pointer;
  transition: 0.5s;
}
nav section footer p:hover {
  color: #f4f4f4;
}

nav[class=to_blue] {
  left: 100%;
}

main {
  left: -100%;
  transition: 1s;
}
main section {
  background-color: rgba(255, 255, 255, 0.5);
  color: #111;
}

main[class=to_blue] {
  left: 0;
}